<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{1,189},{150,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{248,193},{150,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,188}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{486,1},{150,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{1,341},{150,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{486,352},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,197}</string>
                <key>spriteSourceSize</key>
                <string>{156,197}</string>
                <key>textureRect</key>
                <string>{{486,153},{156,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_bg_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{245,345},{150,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{209,17},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{193,209},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{209,65},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{209,113},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{209,161},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{485,440},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{193,391},{39,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{437,443},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{193,432},{39,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{639,577},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{485,479},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{193,473},{39,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{437,482},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_prompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,236}</string>
                <key>spriteSourceSize</key>
                <string>{190,236}</string>
                <key>textureRect</key>
                <string>{{248,1},{190,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{485,518},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{193,257},{53,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{414,521},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{619,460},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{619,499},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{619,538},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{437,361},{39,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{543,548},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{591,577},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{639,625},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{543,587},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{437,402},{39,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{591,616},{37,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{440,193},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{440,235},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{440,277},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{440,319},{40,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{217,572},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{106,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{543,352},{106,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_b_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,134}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{1,514},{108,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_type_b_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,134}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{407,560},{108,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{111,493},{78,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{533,460},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_type_b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{108,134}</string>
                <key>textureRect</key>
                <string>{{285,497},{70,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_wild_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{111,573},{100,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_wild_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{373,497},{61,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>group_type_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,56}</string>
                <key>textureRect</key>
                <string>{{193,514},{90,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>group_type_bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,56}</string>
                <key>textureRect</key>
                <string>{{291,569},{90,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>group_type_bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,56}</string>
                <key>textureRect</key>
                <string>{{349,569},{90,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{206,84}</string>
                <key>textureRect</key>
                <string>{{1,17},{206,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_button_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{206,84}</string>
                <key>textureRect</key>
                <string>{{1,103},{206,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,14}</string>
                <key>spriteSourceSize</key>
                <string>{245,14}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{193,349},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_arrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{193,305},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{675,675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d8699b7f1ae653a415cd3142187205a:59e269e546a8f3d15f91cff55738837a:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
